.container {
    width: 100vh;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 20%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

body {
    background-color: rgb(0, 4, 255);
}

.itens {
    margin-left: 33.3%;
    width: 50px;
}

.style {
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

.selectbox {
    border: 1px solid black;
    border-radius: 2px;

}

.selectbox:hover {
    border: 2px solid black;
    border-radius: 5px;
    background-color: red;
    color: white;
}

p {
    font-size: 20px;
    color: red;
}